.contact {
    display: flex;
    flex-direction: column;
    background-color: #0D1B2A;
}

.contact .contactTitle {
    margin: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'LeagueSpartanBold', serif;
    text-align: center;
    font-size: 65px;
}

.contact .contactInfo {
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    font-size: 36px;
}

.contact .contactButton {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 400px) {
    .contact .contactTitle {
        font-size: 60px;
    }
}