.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0D1B2A;
}

.footer .bar {
    width: 40%;
    border: 2px solid #778DA9;
    border-radius: 10px;
}

.footer .vincent {
    display: flex;
    margin: 10px 10px 0;
    align-items: center;
}

.footer .vincent img {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.footer h3 {
    color: #E0E1DD;
    font-family: 'LeagueSpartan', serif;
}

.footer img {
    height: 50px;
    transition: 0.3s ease-in-out;
}

.footer img:hover {
    height: 50px;
    transform: scale(1.1);
    filter: brightness(110%);
}

.footer .titleFooter {
    text-align: center;
    margin: 10px;
    color: rgba(255, 255, 255, 0.568);
}