.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0D1B2A;
}

.navbar {
    position: absolute;
    top: 10px;
    right: 80px;
    display: flex;
    flex-direction: row;
}

.navbar .buttonNav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    background-color: transparent;
    height: 35px;
    width: 120px;
    border: 2px solid #778DA9;
    border-radius: 6px;
    font-size: 20px;
    color: #E0E1DD;
    transition: 0.15s ease-in-out;
}

.navbar .buttonNav:hover {
    background-color: #778DA9;
    transform: scale(1.05);
}

.title {
    padding-left: 35px;
}

.title .mainTitle {
    position: relative;
    font-family: "LeagueSpartanBold", serif;
    font-size: 80px;
    color: #E0E1DD;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(224, 225, 221, 0.47);
}

.title .secondTitle {
    position: relative;
    font-family: "LeagueSpartanBold", serif;
    font-size: 50px;
    color: rgba(119, 141, 169, 0.89);
    z-index: 1;
}

.title .infoMe {
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    font-size: 36px;
    padding-top: 50px;
    z-index: 1;
}

.title .infoMeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.epitaLogo {
    z-index: 2;
}

.epitaLogo img {
    cursor: pointer;
    height: 70px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.epitaLogo img:hover {
    transform: scale(1.1);
    margin-left: 12px;
    margin-right: 12px;
}

.firmware {
    position: absolute;
    left: 3%;
    top: 15%;
    opacity: 0.4;
}

.openSource {
    position: absolute;
    right: 3%;
    top: 60%;
    opacity: 0.4;
}

@media (max-width: 1100px) {
    .title .mainTitle {
        font-size: 50px;
    }

    .title .secondTitle {
        font-size: 30px;
        margin-right: 5%;
    }

    .title .infoMe {
        font-size: 25px;
    }

    .firmware, .openSource {
        width: 40%;
        height: auto;
        opacity: 0.3;
    }
}

@media (max-width: 850px) {
    .title .infoMeMain {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        line-height: 225%;
    }

    .epitaLogo img {
        height: 60px;
    }

    .title .infoMe {
        padding-right: 5%;
    }

    .navbar {
        right: auto;
    }
}
