.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #64A6BD;
}

.navbar {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: row;
}

.navbar .buttonNav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    background-color: transparent;
    height: 35px;
    width: 120px;
    border: 4px solid #F4CAE0;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    transition: 0.2s ease-in-out;
}

.navbar .buttonNav:hover {
    background-color: #F4CAE0;
    transform: scale(1.1);
}

.title {
    text-shadow: 2px 1px 3px grey;
}


.title .mainTitle {
    position: relative;
    text-align: center;
    font-family: "RubikBlack";
    font-size: 70px;
    color: #F4CAE0;
    padding: 30px;
    z-index: 1;
}

.title .infoMe {
    position: relative;
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 50px;
    z-index: 1;
}

.computer {
    position: absolute;
    width: 30%;
    left: 8%;
    top: 20%;
    opacity: 0.6;
}

.currency {
    position: absolute;
    width: 30%;
    right: 8%;
    top: 50%;
    opacity: 0.6;
}

@media (min-width: 1000px) {
    .computer, .currency {
        width: 32vh;
    }
}