.project {
    display: flex;
    flex-direction: column;
    background-color: #415A77;
}

.project .projectTitle {
    margin: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'LeagueSpartanBold', serif;
    font-size: 65px;
    text-align: center;
}

.project .projectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px;
}

.sphere1 {
    position: absolute;
    left: 8%;
    height: 300px;
    top: 120%;
    opacity: 0.8;
}

.sphere2 {
    position: absolute;
    right: 8%;
    height: 300px;
    top: 200%;
    opacity: 0.8;
}

.sphere3 {
    position: absolute;
    left: 20%;
    height: 300px;
    top: 250%;
    opacity: 0.8;
}

.cube {
    position: absolute;
    left: 5%;
    height: 400px;
    top: 220%;
    opacity: 0.8;
}

@media (max-width: 1000px) {
    .project .projectContainer {
        flex-direction: column;
    }

    .project .projectContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 35px;
    }
}