.technoCard img{
    cursor: pointer;
    width: 48px;
    margin-left: 6px;
    margin-right: 6px;
    transition: 0.2s ease-in-out;
}

.technoCard img:hover{
    transform: scale(1.1);
    filter: brightness(110%);
}