.containerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.titleCard {
    background-color: #0D1B2A;
    padding: 7px 14px 2px;
    color: white;
    font-size: 26px;
    margin-bottom: 30px;
    border-radius: 3px;
}

.buttonCard {
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    object-fit: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 380px;
    height: 250px;
    transition: 0.25s ease-in-out;
}

.buttonCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.buttonCard:hover .mainImg {
    opacity: 0.0;
}

.buttonCard .secondImg {
    position: absolute;
    height: 250px;
    opacity: 0.0;
    width: 380px;
}

.buttonCard:hover .secondImg {
    opacity: 0.8;
    filter: brightness(50%);
}

.buttonCard:hover {
    transform: scale(1.05);
}

.buttonCard .buttonCardText, .buttonCardTextPlus, .githubIco {
    position: absolute;
    color: white;
    transition: 0.25s ease-in-out;
}

.buttonCard .githubIco {
    width: 42px;
    height: 42px;
    bottom: 11px;
    left: 11px;
    opacity: 0;
    visibility: hidden;
}

.buttonCard .buttonCardText {
    font-family: "LeagueSpartanBold", serif;
    font-size: 26px;
    margin-bottom: 45%;
    opacity: 0;
}

.buttonCard .buttonCardTextPlus {
    top: 40%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    line-height: 125%;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    visibility: hidden;
}

.buttonCard:hover .buttonCardText, .buttonCard:hover .buttonCardTextPlus, .buttonCard:hover .githubIco {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.technoCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .containerCard {
        margin: 25px;
    }
    .buttonCard {
        width: 300px;
        height: 200px;
    }

    .buttonCard .githubIco {
        width: 38px;
        height: 38px;
        bottom: 11px;
        left: 11px;
    }

    .buttonCard:hover .secondImg {
        opacity: 0.8;
        filter: brightness(50%);
    }

    .buttonCard .secondImg {
        height: 200px;
        width: 300px;
    }

    .buttonCard .buttonCardTextPlus {
        top: 40%;
        font-size: 22px;
    }

    .buttonCard .buttonCardText {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .containerCard {
        margin-left: 5px;
        margin-right: 5px;
    }

    .buttonCard .githubIco {
        width: 35px;
        height: 35px;
        bottom: 11px;
        left: 11px;
    }

    .buttonCard {
        width: 250px;
        height: 160px;
    }

    .buttonCard:hover .secondImg {
        opacity: 0.8;
        filter: brightness(50%);
    }

    .buttonCard .secondImg {
        width: 250px;
        height: 160px;
    }

    .buttonCard .buttonCardTextPlus {
        top: 35%;
        font-size: 16px;
    }

    .buttonCard .buttonCardText {
        font-size: 18px;
    }
}