@font-face {
  font-family: "LeagueSpartan";
  src: local("LeagueSpartan"),
   url("./assets/fonts/LeagueSpartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartanBold";
  src: local("LeagSpartanBold"),
   url("./assets/fonts/LeagueSpartan-Bold.ttf") format("truetype");
}

*, *::before, *::after {
  font-family: "LeagueSpartan";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
